<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/secret.min.js"></script>
</head>

<body>
<p>Gracebook</p>
<form id="inputForm" method="POST">
    <label for="name">This is You:</label>
    <input name="name" id="name" type="text">
    <!--<input type="submit" id="submit" value="submit">-->

    <label for="message">Your message here:</label>
    <input name="message" id="message" type="text">
    <input type="submit" id="post" value="post">
    <input type="refresh" id="refresh" value="refresh">
</form>
<div id="writeData">

</div>
</body>
</html>